<div class="container">
<%= simple_form_for @animal do |f| %>
  <%= f.input :race, placeholder: "race", required: true %>
  <%= f.input :sex, placeholder: "sex", required: true %>
  <%= f.input :origin, placeholder: "origin of the name you want", required: true %>
  <%= f.input :color, placeholder: "color", required: true %>
  <%= f.input :species, placeholder: "species", required: true %>
  <%= f.button :submit, 'Generate a cool original name', class: 'btn btn-primary' %>
<% end %>
</div>
