<!DOCTYPE html>
<html>
<head>
  <title>PetNamingGenerator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <%= render "shared/navbar" %>  <!-- ici on met le header -->

  <%= yield %>  <!-- contenu spécifique de chaque page -->

  <%= render "shared/footer" %>  <!-- ici on met le footer -->
</body>
</html>
